<a href="{{ url }}" rel="bookmark">
  <div{{ content_attributes.addClass('card') }}>
    <div class="card-wrapper">
      {% if image|render %}
        <div class="card-img-top">
          <img src="{{ image }}" alt="card-image" />
        </div>
      {% endif %}
      <div class="card-body">
        <div class="card-title">{{ name }}</div>
        {% if content or job_title or phone %}
          <div class="card-text">
            <div>{{ job_title }}</div>
            <div>{{ content }}</div>
            <div>{{ phone }}</div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</a>
