<div class="cta-wrapper {{ background_image_path ? 'has-bg-image' : '' }} {{ wrapper_class }}">
  {% if background_image_path %}
    <div class="cta-bg-image-container" style="background-image: url({{ background_image_path }})"></div>
  {% endif %}

  {% if subtitle|render %}
    <h3 class="cta-sub-title">{{ subtitle }}</h3>
  {% endif %}

  {% if title|render %}
    <h2 class="cta-title">{{ title }}</h2>
  {% endif %}

  {% if body|render %}
    <div class="cta-body">
      {{ body }}
    </div>
  {% endif %}

  {% if links|render %}
    <div class="cta-links">
      {{ links }}
    </div>
  {% endif %}
</div>
